{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>George's website</h1>
    <p class="lead">This website is used for showcasing skills</p>
    <p><a href="https://gp0.saobby.com/i/ii96fwiy3ysawpvs" class="btn btn-primary btn-large">Go! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>chat room</h2>
        <p>
            from Tuxiaochao,Tencent.
        </p>
        <p><a class="btn btn-default" href="https://support.qq.com/products/643799/">Go there &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Saobby</h2>
        <p>Saobby's website.</p>
        <p><a class="btn btn-default" href="https://saobby.com/">Go there &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>scratch china</h2>
        <p>A good place to use , play , design the scratch.Be a good scratcher.</p>
        <p><a class="btn btn-default" href="http://scratch-cn.cn/">Go there &raquo;</a></p>
    </div>
</div>

{% endblock %}
